<h1>Feladatok</h1>
<p><% switch (randomNum) {
    case 1 : %>
            Január
            <% break;
    
    case 2 : %>
            Február
            <% break;
    
    case 3 : %>
            Március
            <% break;
    
    case 4 : %>
            Április
            <% break;
    
    case 5 : %>
            Május
            <% break;
    
    case 6 : %>
            Június
            <% break;
    
    case 7 : %>
            Július
            <% break;
    
    case 8 : %>
            Augusztus
            <% break;

    case 9 : %>
            Szeptember
            <% break;
    
    case 10 : %>
            Október
            <% break;
    
    case 11 : %>
            November
            <% break;
    
    case 12 : %>
            December
            <% break;
    
    case 13 : %>
            Nincs ilyen hónap
            <% break;
    
} %></p>