<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <%- include('header') -%>

    <h2><%= message %></h2>
    <p>Az életkorod: <%= age %>.</p>
    <p>
      <%if (age >= 18) { %> Felnőtt vagy! <% } else { %> Gyerek vagy! <% } %>
    </p>
    <p>Az oldalt készítette: <%= name %></p>
  </body>
</html>
